{% extends 'base.html'%}
{%block content%}
<div class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/assets/img/Juvenile black-crowned night-heron  in flight.jpeg"
                 class="img-fluid mx-auto d-block w-50 rounded border border-5" alt="Juvenile black-crowned night-heron in flight.">
        </div>
        <div class="carousel-item">
            <img src="static/assets/img/Coming in for a landing- juvenile black-crowned night-heron .png"
                 class="img-fluid mx-auto d-block w-50 rounded border border-5" alt="Juvenile black-crowned night-heron landing on a branch.">
        </div>
        <div class="carousel-item">
            <img src="static/assets/img/sunset.png" class="img-fluid mx-auto d-block w-50 rounded border border-5"
                 alt="Hawaiian sunset">
        </div>
        <div class="carousel-item">
            <img src="static/assets/img/Common Loon eating a crab.jpeg" class="img-fluid mx-auto d-block w-50 rounded border border-5"
                 alt="Common Loon eating a crab">
        </div>
        <div class="carousel-item">
            <img src="static/assets/img/Conspiring oystercatchers.jpeg" class="img-fluid mx-auto d-block w-50 rounded border border-5"
                 alt="Oystercatchers">
        </div>
        <div class="carousel-item">
            <img src="static/assets/img/Deer Eating Fern.jpg" class="img-fluid mx-auto d-block w-50 rounded border border-5"
                 alt="Deer Eating Fern">
        </div>
        <div class="carousel-item">
            <img src="static/assets/img/Honey Bee on Wild Carrot Flower.jpeg" class="img-fluid mx-auto d-block w-50 rounded border border-5"
                 alt=".Honey Bee on Wild Carrot Flower">
        </div>
    </div>
</div>
{%endblock%}